# PytzMLS2018: Python for ML and DS Research - Pandas

<center>**Anthony Faustine (sambaiga@gmail.com)**</center>

## 4.1. Pandas library 

http://pandas.pydata.org/

[Panda](http://pandas.pydata.org/pandas-docs/stable/) : a python package providing fast, flexible, and
expressive data structures for data analysis.
- A fundamental high-level building block for doing practical,
real world data analysis in Python.
- Designed to work with relational or labeled data or both.

To use Panda first load the panda library

In [ ]:
import numpy as np
import pandas as pd

## Reading from CSV file into dataframe

You can read data from a CSV file using the **read_csv** function. By default, it assumes that the fields are comma-separated.

In [ ]:
data = pd.read_csv('../data/primary/primary.csv')

In [ ]:
# List all the columns in the DataFrame
data.columns

In [ ]:
# We can use the len function again here to see how many rows there are in the dataframe: 163
len(data)

In [ ]:
# How big is this dataframe (rows, columns)
data.shape

In [ ]:
# Let view the first few rows 
data.head()

Notice that read_csv automatically considered the first row in the file to be a header row.
We can override default behavior by customizing some the arguments, like header, names or index_col.

In [ ]:
# View Last 6 rows
data.tail(6)

##  Adding and Droping column
Let us add another column to the primary dataframe. Suppose we want to add total enrollment column

In [ ]:
data['TOTAL']=data['MALE']+ data["FEMALE"]

In [ ]:
data.head()

It clear from the above result we can perform arthmetic operation on pandas dataframe.

### Dropping Column

We can  delete column in panda dataframe. Let us delete the TOTAL column in primary enrollment dataframe.

In [ ]:
data.drop('TOTAL', axis=1, inplace=True)
data.head()

### Note:
 1. **axis=1** denotes that we are referring to a column, not a row
 2. **inplace=True** means that the changes are saved to the df right away

## Slicing Subsets of Rows and Columns in Python

#### Selecting a single column - returns a 'series'

In [ ]:
data.REGION
# You can aslo use data['REGION']

In [ ]:
# To select column as data frame
data[['DISTRICT']]

#### Selecting multiple columns - returns a dataframe

In [ ]:
data[['REGION','DISTRICT']]

#### Selecting rows by number

In [ ]:
data[15:20]

In [ ]:
# Try  data[:8] and data[100:]
data[:8]

## Position Based Selection of columns and lows
Pandas allows us to use position based indexing implemented with iloc and loc: 
>**.loc** for label-based indexing

>**.iloc** for positional indexing

#### To slice a specific column using label indexing

In [ ]:
# And here is how to slice a column:
data.loc[: , "REGION"]

We can also use postion indexing

In [ ]:
data.iloc[:,0]

####  To extract only a row you would do the inverse:

In [ ]:
data.iloc[2,:]

#### To select range of row and column

In [ ]:
## Select first four rows(including header) and first three column (including SN)
data.iloc[0:3,0:2]

#### Select only the specified range of column

In [ ]:
data.iloc[:,1:3]

#### To select  different columns

In [ ]:
data.iloc[:,[0, 3]]

##  Subsetting Data Using Criteria
We can also select a subset of our data using criteria. For example, we can select all rows that have female higher than 50000.

In [ ]:
data[data.FEMALE > 50000]

Or we can select all rows which are in Arusha

In [ ]:
data[data.REGION == 'ARUSHA']

You can select data based on criteria and choose which column to display. Example let select all districts with male erollment less than 1000.

In [ ]:
data[data.MALE < 10000][['DISTRICT']]

##  Descriptive Statistics  From Data

Descriptive statistics can give you great insight into the shape of each attribute. The **describe()** function on the Pandas DataFrame lists 8 statistical properties of each attribute:

* Count
* Mean
* Standard Devaition
* Minimum Value
* 25th Percentile
* 50th Percentile (Median)
* 75th Percentile
* Maximum Value

For example to obtain the statistics summary  for Cities data.

In [ ]:
data.describe()

To obtain descriptive statistics of a particular column use:

In [ ]:
data['MALE'].mean()

## Handling Missing Data

Real-world data is rarely clean and homogeneous. In particular, many interesting datasets will have some amount of data missing.

Pandas treats **None** and **NaN** as essentially interchangeable for indicating missing or null values.

**Pandas Methods for missing values:

* isnull(): Generate a boolean mask indicating missing values
* notnull(): Opposite of isnull()
* dropna(): Return a filtered version of the data
* fillna(): Return a copy of the data with missing values filled or imputed

** Detecting null values**

In [ ]:
data.isnull()

In [ ]:
## Total missing values in each columns
data.isnull().sum()

### Getting rid of missing data points

#### Drop all missing data

``.dropna()``: will drop all rows that have any missing values.

In [ ]:
clean_data = data.dropna()
clean_data.isnull()

#### Filling null values

Sometimes rather than dropping NA values, you'd rather replace them with a valid value. This value might be a single number like zero, or it might be some sort of imputation or interpolation from the good values

In [ ]:
data["FEMALE"].fillna(data["FEMALE"].mean(), inplace=True)
data["MALE"].fillna(data["MALE"].mean(), inplace=True)

In [ ]:
data.isnull().sum()

### Writing Out Data to CSV

We can use the **to_csv** command to do export a DataFrame in CSV format. We can save it to a different folder by adding the foldername and a slash to the file **.to_csv('foldername/filename.csv')**.

In [ ]:
#Save the dataset to harddisk
#data.to_csv('Data/primary_atc.csv')

## References

- [python4datascience-atc](https://github.com/pythontz/python4datascience-atc)
- [PythonDataScienceHandbook](https://github.com/jakevdp/PythonDataScienceHandbook)
- [DS-python-data-analysis](https://github.com/jorisvandenbossche/DS-python-data-analysis)
* [Pandas & Seaborn - A guide to handle & visualize data elegantly](https://tryolabs.com/blog/2017/03/16/pandas-seaborn-a-guide-to-handle-visualize-data-elegantly/)